<form method='POST' action="/articles/<%= @article.id %>">
Title: <input type='text' name='article[title]' id='title' value="<%= @article.title %>">
Content: <input type='text' name='article[content]' id='content' value="<%= @article.content %>">
<input id="hidden" type="hidden" name="_method" value="PATCH">
Submit:  <input type='submit'>
</form>
